<section class="about-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-12">
        <div class="title">
          <span>Who We Are?</span>
          <h1>Who is Desice?</h1>
          <p>
            Gain control, get precise and make your money work for you with
            Desice. The smart way to manage money.
          </p>
          <div class="banner-btn">
            <a routerLink="/contact-us" class="theme_btn w-auto">Meet Us</a>
          </div>
        </div>
      </div>
      <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-12">
        <div class="right-side">
          <img src="../../../assets/images/banner-image-about.svg" class="img-fluid" alt="" />
          <span>About Us</span>
        </div>
      </div> -->
    </div>
  </div>
</section>
<section class="mission">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 left-side">
        <img src="../../../assets/images/mission1.svg" class="img-fluid" alt="" />
        <div class="title">
          <span>The Desice Mission</span>
          <h1>Helping Normal People, Make Good Financial Decisions.</h1>
        </div>
      </div>
      <div class="col-md-5 right-side">
        <img src="../../../assets/images/mission2.svg" class="img-fluid" alt="" />
        <p>
          The Desice mission is to revolutionize the way regular people make
          financial decisions, to remove financial stress & improve wealth
          outcomes worldwide!
        </p>
      </div>
    </div>
  </div>
</section>
<section class="aboutus">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 title">
        <span>About Us</span>
        <h1>A Small Storie About Our <br> Desice Mobile App</h1>
        <p class="dark">
          Desice is your go-to app for making confident decisions, big or small.
          Whether you're deciding what to eat for dinner, which movie to watch,
          or where to invest your money, Desice is here to help you navigate
          through choices and find the best option for you.
        </p>
        <ul>
          <li>
            <span>Decision Wizard:</span> Answer a few simple questions about
            your options, preferences, and priorities, and let Desice analyze
            the data to recommend the best choice.
          </li>
          <li>
            <span>Pros and Cons:</span> Create a list of pros and cons for each
            option you're considering. Desice will help you weigh them and
            determine which option comes out on top.
          </li>
          <li>
            <span>Community Feedback:</span> Tap into the collective wisdom of
            the Desice community. Share your decision dilemmas and get advice
            and feedback from fellow users.
          </li>
          <li>
            <span>Decision History:</span> Keep track of past decisions and
            their outcomes. Learn from your experiences to make even better
            choices in the future.
          </li>
          <!-- <li>
                        <span>Customizable Criteria:</span> Define your own decision criteria and assign weights to them based on their importance. Desice will take your personalized criteria into account when making recommendations.
                    </li> -->
        </ul>
      </div>
      <!-- <div class="col-md-6">
        <div class="right-side">
          <div class="about-card">
            <img src="../../../assets/images/about/user-group.svg" alt="" />
            <h2>325K+</h2>
            <p>Active Users</p>
          </div>
          <div class="about-card set">
            <img src="../../../assets/images/about/total-download.svg" alt="" />
            <h2>640K+</h2>
            <p>Total Download</p>
          </div>
          <div class="about-card">
            <img src="../../../assets/images/about/CommunityMembers.svg" alt="" />
            <h2>200+</h2>
            <p>Community Members</p>
          </div>
          <div class="about-card set">
            <img src="../../../assets/images/about/stories.svg" alt="" />
            <h2>100+</h2>
            <p>Amazing Stories</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- <section class="ourMission">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/images/ourMission.svg" class="img-fluid" alt="" />
      </div>
      <div class="col-md-6 title">
        <span>Our Mission</span>
        <h1>Stewart MacGregor Our Founder & CEO's Story</h1>
        <p>
          Growing up in poverty, with very little money and lots of financial
          stress has motivated me to help people do better with their money! I
          believe that everyone on earth should have access to quality food,
          housing, healthcare & education. Desice is my way of helping people
          improve their financial position, so we can grow the next generation
          of healthy & thriving human beings!
        </p>
      </div>
    </div>
  </div>
</section> -->
<section class="video">
  <div class="container-fluid">
    <iframe width="100%" height="500" src="https://www.youtube.com/embed/yFwvUfKHYD4?si=WrrLoBOFkTbqGjWS"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</section>