<section class="plan-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="title">
                    <span>Plans</span>
                    <h1>Transaction Charge for Each Payment we Initiate.</h1>
                    <!-- <p>Transaction charge for each payment we initiate.</p> -->
                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="right-side">
                    <img src="../../../assets/images/plans.svg" class="img-fluid" alt="">
                    <span>Plans</span>
                </div>
            </div> -->
        </div>
    </div>
</section>
<section class="transaction-fees">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <span class="hed">Transaction Fees</span>
                    <h1>The cost to Use in Split Pay!</h1>
                    <p>Desice has implemented a nominal transaction fee on every transaction to ensure the
                        sustainability and efficiency of our platform. These fees contribute to maintaining the
                        security, scalability, and continuous improvement of our services, enabling us to provide you
                        with a seamless and reliable experience. We appreciate your understanding and support as we work
                        towards enhancing the Desice ecosystem for all users.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="feature-card one">
                    <h2>$50 or less</h2>
                    <p>Desice will take 20cents.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="feature-card four">
                    <h2>$50-$500</h2>
                    <p>Desice will take 50cents.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="feature-card two">
                    <h2>Above $500</h2>
                    <p>Desice will take $1.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="desice-premium">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <span class="hed">Desice Premium</span>
                    <h1>Premium Performance Tracking.
                        <button class="theme_btn">
                            Join Waiting List
                        </button>
                    </h1>
                    <p>At Desice, we offer premium performance tracking services to empower our users with insightful
                        analytics and real-time monitoring capabilities. Our advanced tracking tools provide
                        comprehensive data analysis, enabling users to make informed decisions and optimize their
                        performance on our platform. With Desice's premium performance tracking, you can gain valuable
                        insights to drive success and achieve your goals with confidence.</p>
                </div>
            </div>
            <div class="col-md-12">
                <img src="../../../assets/images/plan-image1.svg" class="w-100" alt="">
            </div>
        </div>
    </div>
</section>