<section class="banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 left-banner">
                <span>Welcome to Desice!</span>
                <h1>The smart way to manage money</h1>
                <p>Gain control, get precise and make your money work for you with Desice. The smart way to manage money
                </p>
                <div class="banner-btn">
                    <a routerLink="/register" class="theme_btn">Registration for early access</a>
                    <a routerLink="/features" class="theme_btn learn-more">Learn More <img src="../../../assets/images/arrow-right.svg"
                            class="img-fluid" alt=""></a>
                </div>
            </div>
            <div class="col-md-6 right-banner">
                <img src="../../../assets/images/banner-right.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<section class="goal-tracker">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h2>DESICE CONNECTS WITH</h2>
                    <app-testimonial-slider></app-testimonial-slider>
                    <!-- <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>Slide 1</ng-template>
                        <ng-template carouselSlide>Slide 2</ng-template>
                        <ng-template carouselSlide>Slide 3</ng-template>
                    </owl-carousel-o> -->

                    <!-- <ul>
                        <li>
                            <img src="../../../assets/images/connects/image 1.svg" alt="">
                        </li>
                        <li>
                            <img src="../../../assets/images/connects/image 2.svg" alt="">
                        </li>
                        <li>
                            <img src="../../../assets/images/connects/image 3.svg" alt="">
                        </li>
                        <li>
                            <img src="../../../assets/images/connects/image 4.svg" alt="">
                        </li>
                        <li>
                            <img src="../../../assets/images/connects/image 5.svg" alt="">
                        </li>
                        <li>
                            <img src="../../../assets/images/connects/image 6.svg" alt="">
                        </li>
                    </ul> -->
                </div>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/images/left-tracker-image.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 rightside-div">
                <span class="hed">Goal Tracker</span>
                <h1>Track your progress with our app.</h1>
                <p>Desice helps you to track your spending, savings and improvements to keep you on the right track.</p>
                <ul>
                    <li><span>01 -</span> Track your spending</li>
                    <li><span>02 -</span> Increase your savings</li>
                    <li><span>03 -</span> Track your improvements</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="features">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 title">
                <span>Features</span>
                <h1>Presenting Our New Mobile App With Ultimate Features</h1>
                <p>Unlocking Convenience: Introducing Our Revolutionary Mobile App</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="left-side">
                <div class="feature-card one">
                    <img class="img-fluid" src="../../../assets/images/features/personalized.svg" alt="">
                    <h2>Personalized Plan</h2>
                    <p>Desice Creates a personalized financial plan to fast track your way to success.</p>
                </div>
                <div class="feature-card two">
                    <img class="img-fluid" src="../../../assets/images/features/ProgressTracking.svg" alt="">
                    <h2>Tracking & progress</h2>
                    <p>Keep on tack with your goals and watch your wealth grow with Desice.</p>
                </div>
                <div class="feature-card three">
                    <img class="img-fluid" src="../../../assets/images/features/Gain.svg" alt="">
                    <h2>Gain Control</h2>
                    <p>Gain control over your finances and make your money work for you with very little effort.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 center-side text-center">
            <img src="../../../assets/images/featureImg.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-4">
            <div class="right-side">
                <div class="feature-card one">
                    <img class="img-fluid" src="../../../assets/images/features/HighFive.svg" alt="">
                    <h2>Succeed together</h2>
                    <p>Desice allows you to Manage your money with others by adding members to your account.</p>
                </div>
                <div class="feature-card two">
                    <img class="img-fluid" src="../../../assets/images/features/Investment.svg" alt="">
                    <h2>Start Investing</h2>
                    <p>Desice makes investing so easy, you will be able to build wealth without raising a finger</p>
                </div>
                <div class="feature-card three">
                    <img class="img-fluid" src="../../../assets/images/features/DataManagement.svg" alt="">
                    <h2>Control your Data</h2>
                    <p>Maintain full control over your own data and allow Desice to use your own data to improve your
                        financial position.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="smart-manager">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 title">
                <span>Smart Manager</span>
                <h1>Make Better Decisions with Desice.</h1>
                <p>When you need to make a large or difficult investment. Desice will help you to do understand the best
                    ways to make that purchase, what you can realistically afford and the best options around making
                    that decision. Desice will help guide you through difficult decisions.</p>
                <!-- <div class="banner-btn">
                    <button class="theme_btn">Learn More</button>
                </div> -->
            </div>
            <div class="col-md-6">
                <!-- <img src="../../../assets/images/smart-manager.svg" class="img-fluid" alt=""> -->
                <img src="../../../assets/images/automatedPayment.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<section class="automated-payment">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-md-6">
                <img src="../../../assets/images/automatedPayment.svg" class="img-fluid" alt="">
            </div> -->
            <div class="col-md-12 title">
                <span>Automated Payment</span>
                <h1>Your Hassle-Free Auto Payment Solution</h1>
                <p>The ultimate solution for simplifying your financial life! Say goodbye to late fees and manual
                    payment hassles with our cutting-edge automated payment app.</p>
                <!-- <div class="banner-btn">
                    <button class="theme_btn">Learn More</button>
                </div> -->
            </div>
        </div>
    </div>
</section>
<section class="community">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 title">
                <span>Desice Community</span>
                <h1>Split Pay With Desice</h1>
                <p>Already a savvy spender and financial manager but sick of using spreadsheets to track your progress
                    and performance! Then sign up for a premium Desice account and get premium performance metrics,
                    projections and financial data that will have your finances in perfect order.</p>
            </div>
            <div class="col-md-12">
                <img src="../../../assets/images/community-leftimage.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>


<section class="aboutus">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 title">
                <span>About Us</span>
                <h1>A Small Storie About Our <br> Desice Mobile App</h1>
                <p class="dark">Desice is your go-to app for making confident decisions, big or small. Whether you're
                    deciding what to eat for dinner, which movie to watch, or where to invest your money, Desice is here
                    to help you navigate through choices and find the best option for you.</p>
                <ul>
                    <li>
                        <span>Decision Wizard:</span> Answer a few simple questions about your options, preferences, and
                        priorities, and let Desice analyze the data to recommend the best choice.
                    </li>
                    <li>
                        <span>Pros and Cons:</span> Create a list of pros and cons for each option you're considering.
                        Desice will help you weigh them and determine which option comes out on top.
                    </li>
                    <li>
                        <span>Community Feedback:</span> Tap into the collective wisdom of the Desice community. Share
                        your decision dilemmas and get advice and feedback from fellow users.
                    </li>
                    <li>
                        <span>Decision History:</span> Keep track of past decisions and their outcomes. Learn from your
                        experiences to make even better choices in the future.
                    </li>
                    <!-- <li>
                        <span>Customizable Criteria:</span> Define your own decision criteria and assign weights to them based on their importance. Desice will take your personalized criteria into account when making recommendations.
                    </li> -->
                </ul>
                <!-- <div class="banner-btn">
                    <button class="theme_btn">Read More</button>
                </div> -->
            </div>
            <!-- <div class="col-md-6">
                <div class="right-side">
                    <div class="about-card">
                        <img src="../../../assets/images/about/user-group.svg" alt="">
                        <h2>325K+</h2>
                        <p>Active Users</p>
                    </div>
                    <div class="about-card set">
                        <img src="../../../assets/images/about/total-download.svg" alt="">
                        <h2>640K+</h2>
                        <p>Total Download</p>
                    </div>
                    <div class="about-card">
                        <img src="../../../assets/images/about/CommunityMembers.svg" alt="">
                        <h2>200+</h2>
                        <p>Community Members</p>
                    </div>
                    <div class="about-card set">
                        <img src="../../../assets/images/about/stories.svg" alt="">
                        <h2>100+</h2>
                        <p>Amazing Stories</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>