<div class="app-page-title mb-3">
    <div class="page-title-wrapper">
        <div class="d-flex align-items-center justify-content-between">
            <div class="page-title-heading">
                <div>
                    <h4 class="mb-0">
                        <strong *ngIf="!isEdit">Add Category Data</strong>
                        <strong *ngIf="isEdit">Update Category Data</strong>
                    </h4>
                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block">
                    <button type="button" class="btn-shadow  btn btn-primary" routerLink="/admin/support-ticket/category">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-angle-left fa-w-20"></i>
                        </span>
                        Back To List
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form [formGroup]="supportTicketCategoryForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="position-relative form-group">
                                <label for="name">Category Name</label>
                                <input name="name" id="name" placeholder="Category Name" type="text"
                                    class="form-control" formControlName="name">
                                <div *ngIf="submittedData && fSupportTicketCategoryData['name'].errors">
                                    <div *ngIf="fSupportTicketCategoryData['name'].errors['required']">
                                        <span class="text-danger">This Field is Required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button (click)="save()" *ngIf="!isEdit" class="mt-1 btn btn-primary">Save</button>
                    <button (click)="update()" *ngIf="isEdit" class="mt-1 btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>