<section class="contact-us">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 col-12">
                <div class="title">
                    <span>Contact Us</span>
                    <h1>We'd love to talk about how we can help you.</h1>
                </div>
            </div>
            <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                <div class="right-side">
                    <img src="../../../assets/images/contact.svg" class="img-fluid" alt="">
                    <span>Contact Us</span>
                </div>
            </div> -->
        </div>
    </div>
</section>
<section class="lets-talk">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <h1>Let’s Talk</h1>
                <form action="" class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">First Name</label>
                            <input type="text" class="form-control" placeholder="Enter your first name" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Last Name</label>
                            <input type="text" class="form-control" placeholder="Enter your last name" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Email Address</label>
                            <input type="text" class="form-control" placeholder="Enter your email address" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Message</label>
                            <textarea class="form-control" rows="5" placeholder="Enter your message..."></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="theme_btn">Submit</button>
                    </div>
                </form>
            </div>
            <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3315.714390900332!2d150.9152636765772!3d-33.79387291518345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12984819220cab%3A0x35b52653e1349d6a!2s4l%2F10%20Lorne%20St%2C%20Prospect%20NSW%202148%2C%20Australia!5e0!3m2!1sen!2sin!4v1706531744128!5m2!1sen!2sin"
                    width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div> -->
        </div>
    </div>
</section>