<div class="app-page-title mb-3">
    <div class="page-title-wrapper">
        <div class="d-flex align-items-center justify-content-between">
            <div class="page-title-heading">
                <div>
                    <h4 class="mb-0">
                        <strong>Akahu User's List</strong>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-12 col-md-6 d-flex align-items-center gap-2">
                <label class="mb-0 mr-2">Show</label>
                <div class="d-flex flex-grow-03">
                    <select name="example_length" [(ngModel)]="itemPerPage" (change)="itemPerPageChange()"
                        aria-controls="example"
                        class="custom-select custom-select-sm form-control form-control-sm flex-grow-03 mr-3">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <label class="mb-0">entries</label>
            </div>
            <div class="col-12 col-md-6 mb-sm-2 d-flex justify-content-md-end align-items-center gap-2">
                <label class="mb-0 mr-2">Search:</label>
                <div class="d-flex flex-grow-01">
                    <input type="search" (input)="search()" [(ngModel)]="searchTerm"
                        class="form-control form-control-sm flex-grow-01" placeholder="" aria-controls="example">
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Preferred Name</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let item of akahuUserList | paginate : { itemsPerPage: l, currentPage: p };let index = index">
                        <td>{{item?.preferred_name}}</td>
                        <td>{{item?.first_name}}</td>
                        <td>{{item?.last_name}}</td>
                        <td>{{item?.email}}</td>
                        <td>{{item?.mobile}}</td>
                        <td>{{item?.createdAt | date:'dd-MM-yyyy hh:mm:ss a'}}</td>
                    </tr>
                    <tr *ngIf="akahuUserList.length == 0">
                        <td colspan="7" class="text-center">
                            No Data Available
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-sm-flex flex-column justify-content-sm-between text-center mt-3 flex-sm-row align-items-center">
            <span class="fw-semi-bold">
                Showing {{akahuUserList.length > 0 ? l * (p - 1) + 1 : 0}} to {{l * (p - 1) + l
                < akahuUserList.length ? l * (p - 1) + l : akahuUserList.length}} of {{akahuUserList.length}} entries
                    </span>
                    <p class="mb-0 fs--1">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </p>
        </div>
    </div>
</div>