<section class="features-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="title">
                    <span>Features</span>
                    <h1>Make the most of your money.</h1>
                    <p>Track your progress, manage your upcoming payments and get closer to financial freedom with the
                        Desice app.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-side">
                    <img src="../../../assets/images/featuresBanner.svg" class="img-fluid" alt="">
                    <span>Features</span>
                </div>
            </div>
        </div>
    </div>
    <img src="../../../assets/images/featuresBanner_vector.svg" class="img-fluid vector" alt="">
</section>
<section class="why-choose">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <span class="hed">Why Choose</span>
                    <h1>Why choose Desice</h1>
                    <p>Desice creates a personalized financial strategy based on your previous payments and your future
                        financial goal. Desice then take the extra step of implementing that strategy for you. Taking
                        away the stress, anxiety and giving you the space to enjoy your hard-earned money.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="feature-card one">
                    <img class="img-fluid" src="../../../assets/images/features/personalized.svg" alt="">
                    <h2>Personalized Plan</h2>
                    <p>Desice Creates a personalized financial plan to fast track your way to success.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="feature-card four">
                    <img class="img-fluid" src="../../../assets/images/features/HighFive.svg" alt="">
                    <h2>Succeed together</h2>
                    <p>Desice allows you to Manage your money with others by adding members to your account.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="feature-card two">
                    <img class="img-fluid" src="../../../assets/images/features/ProgressTracking.svg" alt="">
                    <h2>Tracking & progress</h2>
                    <p>Keep on tack with your goals and watch your wealth grow with Desice.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="feature-card five">
                    <img class="img-fluid" src="../../../assets/images/features/Investment.svg" alt="">
                    <h2>Start Investing</h2>
                    <p>Desice makes investing so easy, you will be able to build wealth without raising a finger</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="feature-card three">
                    <img class="img-fluid" src="../../../assets/images/features/Gain.svg" alt="">
                    <h2>Gain Control</h2>
                    <p>Gain control over your finances and make your money work for you with very little effort.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="feature-card six">
                    <img class="img-fluid" src="../../../assets/images/features/DataManagement.svg" alt="">
                    <h2>Control your Data</h2>
                    <p>Maintain full control over your own data and allow Desice to use your own data to improve your
                        financial position.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="goal-tracker">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/images/left-tracker-image.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 rightside-div">
                <span class="hed">Invest Without Thinking</span>
                <h1>Grow your Wealth without Thinking.</h1>
                <p>In today's fast-paced world, the pursuit of financial success often feels like an endless cycle of effort and stress. But what if I told you that growing your wealth doesn't always have to involve constant thinking and worrying? By implementing smart strategies and leveraging the power of compounding, you can set yourself on a path to financial abundance without constantly stressing over every financial decision. Let's explore some effective ways to grow your wealth without overthinking it.</p>
                <ul>
                    <li><span>01 -</span>Automated Investing</li>
                    <li><span>02 -</span>Diversification</li>
                    <li><span>03 -</span>Passive Income Streams</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="debt-management">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 rightside-div">
                <span class="hed">Debt Management</span>
                <h1>Get Debt Free Faster.</h1>
                <p>Achieving financial freedom often begins with the journey to becoming debt-free. High levels of debt can weigh heavily on your finances, limiting your ability to save, invest, and enjoy life to the fullest. Fortunately, there are strategies you can implement to expedite your path to debt freedom and take control of your financial future.</p>
                <ul>
                    <li><span>01 -</span>Prioritize High-Interest Debts</li>
                    <li><span>02 -</span>Snowball or Avalanche Method</li>
                    <li><span>03 -</span>Increase Income</li>
                </ul>
            </div>
            <div class="col-md-6 text-center">
                <img src="../../../assets/images/left-tracker-image.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<section class="your-savings">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/images/left-tracker-image.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 rightside-div">
                <span class="hed">Grow Your Savings</span>
                <h1>Reach your Saving Goals Faster.</h1>
                <p>Achieving your saving goals faster requires a combination of discipline, strategic planning, and effective money management. Whether you're saving for a dream vacation, a down payment on a house, or retirement, taking proactive steps can significantly speed up the process. In this guide, we'll explore practical strategies to help you reach your saving goals faster and secure your financial future.</p>
                <ul>
                    <li><span>01 -</span>Set Clear and Specific Goals</li>
                    <li><span>02 -</span>Create a Budget</li>
                    <li><span>03 -</span>Automate Your Savings</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="testimonials">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-12 rightside-div">
                <span class="hed">Testimonials</span>
                <h1>What They Say About us</h1>
                <p>Construction is a general term meaning the art and science to form systems organizations.</p>
                <div class="d-flex gap-3">
                    <div class="icon">
                        <img src="../../../assets/images/review.svg" class="img-fluid" alt="">
                    </div>
                    <div class="content">
                        <h3>4.2</h3>
                        <p>Based on 420K reviews</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-12 col-12">
                <div #owlCarousel class="owl-carousel testimonial">
                    <div *ngFor="let testimonial of testimonials" class="item"
                        [ngClass]="{ 'active': testimonial === activeTestimonial }">
                        <div class="testimonial-card">
                            <img src="../../../assets/images/testimonial/quto.svg" class="img-fluid quto" alt="">
                            <p>{{testimonial.desc}}</p>
                            <img [src]="testimonial.star" class="img-fluid star" alt="rating">
                        </div>
                        <div class="profile-div">
                            <img [src]="testimonial.profile" alt="profile" class="img-fluid" />
                            <div class="info">
                                <h3>{{testimonial.name}}</h3>
                                <span>{{testimonial.designation}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>