<section class="privacy-policy">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="title">
                    <span>Privacy Policy</span>
                    <h1>Privacy Policy</h1>
                    <p>Desice only charges a small percentage of the money you save or invest, so everyone has the
                        opportunity to succeed. Desice will provide you with the best option to suit your financial
                        situation.</p>
                    <!-- <div class="banner-btn">
                        <button class="theme_btn">Meet Us</button>
                    </div> -->
                </div>
            </div>
            <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                <div class="right-side">
                    <img src="../../../assets/images/privacyPolicy.svg" class="img-fluid" alt="">
                    <span>Privacy</span>
                </div>
            </div> -->
        </div>
    </div>
</section>
<section class="policy-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="title">
                    <p>desice. (hereinafter referred to as “Company”) establishes and presents the privacy policy as follows, in order to protect the personal information of data subjects who use “Money Manager” (both the application and PC version, collectively, “Application”), and resolve any relevant complaint.</p>
                </div> -->
                <div class="topics">
                    <h3>1. Purpose of Processing Personal Information</h3>
                    <p>Company collects and uses personal information for the following purposes.</p>
                    <ul>
                        <li>(1) Membership registration and management: confirmation of membership intent, identification/authentication, maintenance and management of membership, prevention of illegal use of services, sending various notices, etc.</li>
                        <li>(2) Provision of goods or services: provision of service, delivery of contract/invoice, provision of basic service and customized service, verification of identity, age verification, bill payment and settlement, debt collection, etc.</li>
                        <li>(3) Managing consumer complaints: identification of the data subject, confirmation of complaints, contact/notification for fact-finding, and notification of processing results</li>
                        <li>(4) Marketing and Advertising: provision of customized advertisements, opportunities to participate in events, statistics on the use of services by data subjects, etc.</li>
                        <li>(5) Improvement of existing services and development of new and customized services</li>
                        <li>(6) Processing of pseudonymized information for statistical preparation, scientific research, and preservation of records in the public interest.</li>
                    </ul>
                </div>
                <div class="topics">
                    <h3>2. Items of Personal Information Processed</h3>
                    <p>Company collects and processes the following personal information of users of Application.</p>
                    <ul>
                        <li>(1) Information collected through membership registration (obligatory): email, password, nickname</li>
                        <li>(2) Information obtained from third party companies through each membership registration method:</li>
                        <li>(3) Information collected when using paid service</li>
                        <li>
                            <ul>
                                <li>When paying by credit card: payment information such as the name of the card company and card number</li>
                                <li>In case of bank transfer: payment information such as the name of the account holder, account number, and bank holding the account</li>
                                <li>When paying by mobile phone number: payment information such as phone number and telecommunication company</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="topics">
                    <h3>3. Period of Retention and Use for Personal Information</h3>
                    <ul>
                        <li>(1) Company retains and uses the user's personal information while the user uses services as a member, and when either the user requests withdrawal from membership or Company achieves the purpose of collection and use of personal information, the Company will immediately destroy the relevant personal information. However, if the Company terminates the service use contract according to the Terms of Use, the relevant personal information will be preserved for one year to prevent unauthorized re-registration and use of service, and the information is deleted immediately after the end of the relevant period.</li>
                        <li>(2) Notwithstanding the foregoing, the following information is retained for the period specified for the following reasons.</li>
                        <li>
                            <ul>
                                <li>Personal information related to use of service (log records): 3 months (Communications Secret Protection Act)</li>
                                <li>Records on withdrawal of contract or subscription, etc., and records on payment and supply of goods: 5 years (Consumer Protection Act in Electronic Commerce, Etc.)</li>
                                <li>Records on handling consumer complaints or disputes: 3 years (Consumer Protection Act in Electronic Commerce, Etc.)</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="topics">
                    <h3>Addendum (January 22, 2024)</h3>
                    <p>The subject Privacy Policy shall take effect from January 22, 2024.</p>
                </div>
            </div>
        </div>
    </div>
</section>